@font-face {
    font-family: Pompadur; /* Имя шрифта */
    src: url(" ../style/Star_Vader.ttf"); /* Путь к файлу со шрифтом */
   }

body,
h1,
h2,
p {
	margin: 0;
	font-family: "Pompadur";
	color: #ffc810;
	text-align: center;
}
body {
	background-image: url("../image/fon.jpg");
}
* {
	box-sizing: border-box;
}
h1 {
	font-size: 40px;
}
.section {
	width: 100%;
	text-align: center;
}
.epi img {
	display: inline-block;
	width: 100%;
	padding: 20px 15px;
}
.epi p {
	text-align: center;
	font-weight: 900;
	font-size: 22px;

}
.yeti img {
	position: absolute;
	bottom: 20px;
	height: 100px;
	width: 100px;
}
.yeti-img-1 {

	left: 20px;
}
.yeti-img-2 {
	right: 20px;
}
.info {
	position: relative;
	min-height: 100vh;
}

.gif-tag {
	position: absolute;
	max-width: 100%;
}

.gif-1 {
position: absolute;
left: 24px;
top:  13px;
}
.gif-2 {
position: absolute;
left: 34px;
bottom: 100px;
}

.god {
	text-align: center;
	font-weight: 900;
	font-size: 32px;
} 
.wtf-block {
	min-height: 100vh;
}
.epis {
	min-height: 100vh;
}
@media screen and (min-width: 320px) {
	.yeti img{
		 width: 20vw;
		 height: auto;
	}

.epi p {
		 height: auto;
}

}

.epi {
	display: inline-block;
	max-width: 300px;
	max-height: 500px;
}